// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-primary-palette: (
  default: #083c5e,
  contrast: (
    default: #fff,
  ),
);

$my-accent-palette: (
  default: #661714,
  contrast: (
    default: #fff,
  ),
);

$my-typography: mat.define-typography-config();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $FE-grade-book-primary: mat.define-palette($my-primary-palette);
// $FE-grade-book-accent: mat.define-palette($my-accent-palette);

// The warn palette is optional (defaults to red).
$FE-grade-book-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FE-grade-book-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary-palette,
      accent: $my-accent-palette,
      warn: $FE-grade-book-warn,
    ),
    typography: $my-typography
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FE-grade-book-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Overriding bootstrap theme
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #083c5e;
$secondary: #661714;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Overriding material classes
.mdc-icon-button {
  display: inline-flex !important;
}

.mat-drawer-side {
  border-right: none !important;
}

td,
th {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  vertical-align: middle;
  height: 45px;
}

.mdc-button.grade {
  min-width: 40px !important;
  height: 40px !important;
}
