<mat-drawer-container class="vh-100">
  <mat-drawer mode="side" class="bg-dark" [opened]="true">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <img src="/assets/images/logo.png" class="mx-auto my-3 w-75" alt="Logo" />
    </a>
    <hr />
    <strong>
      <ul class="nav flex-column">
        <li>
          <a class="nav-link" routerLinkActive="bg-light" [routerLink]="[
              '/dashboard',
              { outlets: { dashboard: 'grades-student' } }
            ]">
            Moje oceny
          </a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="bg-light" [routerLink]="[
              '/dashboard',
              { outlets: { dashboard: 'grades-teacher' } }
            ]">
            Oceny studentów
          </a>
        </li>
        <hr />
        <li>
          <a class="nav-link" routerLinkActive="bg-light"
            [routerLink]="['/dashboard', { outlets: { dashboard: 'users' } }]">
            Użytkownicy (Admin)
          </a>
        </li>
      </ul>
    </strong>
  </mat-drawer>

  <header class="navbar bg-dark justify-content-end px-5 position-fixed start-0 end-0">
    <h2 class="text-white">
      Dziennikus Maksimus
    </h2>
    <span class="text-light mx-4">John Doe - Admin</span>
    <button mat-flat-button color="accent" (click)="logout()">
      Wyloguj
    </button>
  </header>
  <div class="m-5 p-5">
    <router-outlet name="dashboard"></router-outlet>
  </div>

</mat-drawer-container>
