<h1 mat-dialog-title>[{{ data.course.name }}] {{data.student?.fullname || ''}} {{ !data.grade ? ' - Dodawanie oceny' : ''
  }}</h1>
<div mat-dialog-content>
  <form [formGroup]="mainForm">
    <div class="row mb-2">
      <mat-form-field appearance="outline" class="col-4 my-2" [class.col-9]="!data.grade">
        <mat-label>Opis</mat-label>
        <input matInput type="text" formControlName="description">
        <mat-error>Uzupełnij opis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3 my-2">
        <mat-label>Ocena</mat-label>
        <input matInput min="1" max="6" type="number" formControlName="value">
        <mat-error>Uzupełnij ocenę</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="data.grade" class="col-5 my-2">
        <mat-label>Wystawiona przez</mat-label>
        <input matInput type="text" formControlName="author">
      </mat-form-field>
    </div>
  </form>

  <div *ngIf="history?.length > 1" class="mt-4">
    <h6>Historia modyfikacji</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Opis</th>
          <th scope="col">Ocena</th>
          <th scope="col">Wystawiona przez</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of history; let i = index">
          <td>{{ entry?.description }}</td>
          <td>{{ entry?.value }}</td>
          <td>{{ entry?.author }}</td>
          <td>{{ getDate(entry?.createdAt) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="data.student" mat-dialog-actions class="d-flex justify-content-end mt-2">
  <button mat-stroked-button mat-dialog-close>Anuluj</button>
  <button *ngIf="data.grade" mat-flat-button color="accent" (click)="onDelete()">Usuń</button>
  <button mat-flat-button color="primary" [disabled]="mainForm.pristine || mainForm.invalid"
    (click)="onUpdateOrCreate()">{{
    data.grade ? 'Edytuj' : 'Dodaj'
    }}</button>

</div>
